@{
    ViewBag.Title = "Home Page";
}
<body background="~/Imagenesweb/fondoweb.JPG" style="background-size:190rem">
</body>

<div class="jumbotron" style="background-image: url(https://wallpaperaccess.com/full/3355227.jpg) ">




    <font color="white">
        <h1>Old Time</h1>
        <p class="lead">Bienvenido a Old Time, aqui podras encontrar los relojes de mas alta calidad que hay en el mercado .</p>
    </font>



</div>

<div class="row">
    <div class="col-md-4">
        <h2><img src="~/Imagenes web/timex11.png" /></h2>
        <font color="white">
            <p>
                Tenemos una variedad de Timex
            </p>
        </font>

        <p><a class="btn btn-default" href="https://www.timex.com/on/demandware.store/Sites-timexus-Site">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">

        <h2><img src="~/Imagenes web/Casio1.png" /></h2>
        <font color="white">
            <p>Tenemos tambien de la marca reconocida de la marca Casio.</p>
        </font>
        <p><a class="btn btn-default" href="https://www.casio.com/select-country-region/">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2><img src="~/Imagenes web/bulova1.png" /></h2>
        <font color="white"
              <p>Y los Famosos Relojes militares Bulova</p>
              </font>

        <p><a class="btn btn-default" href="https://intl.bulova.com/">Learn more &raquo;</a></p>
    </div>
</div>